.button {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 17px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #010d0d;
    background-color: #f2f8fa;
    background-image: -moz-linear-gradient(top, #f2f8fa 0%, #f9fbfc 100%);
    background-image: -webkit-linear-gradient(top, #f2f8fa 0%, #f9fbfc 100%);
    background-image: -o-linear-gradient(top, #f2f8fa 0%, #f9fbfc 100%);
    background-image: -ms-linear-gradient(top, #f2f8fa 0%, #f9fbfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fbfc', endColorstr='#f9fbfc', GradientType=0);
    background-image: linear-gradient(top, #f2f8fa 0%, #f9fbfc 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}  
 h1 {
    text-align: center;
    font-size: 60px;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #076585, #fff);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

#generate {
    cursor: pointer;
}

#two {
    margin-left: 10px;
}

.prem {
    margin-top: 20px;
    text-align: center;
    height: 382px;
}

@media (max-width: 450px) {
    #two {
        margin-top: 10px;
    }

    body {
        height: 850px;
        font-style: italic;
    }

    h1 {
        font-size: 50px;
    }
}